/* Start Head Upload Page 2 */
.head-upload-2 {
    height: 90px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;

    .title-page {
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }
}
/* End Head Upload Page 2 */

/* Start Page Upload 2 */
.page-upload-2 {
    background-color: #F8F8F8;
    padding: 30px 0 100px 0;

    .content-page-2 {
        background-color: #FFF;
        width: 50%;
        padding: 25px;
        border: 1px solid #CCC;
        border-radius: 8px;
        margin: auto;

        .head {
            text-align: center;

            h2 {
                margin-bottom: 0;
            }

            p {
                margin-top: 10px;
                color: #171717;
            }
        }

        .form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;

            form {
                width: 60%;

                .input-text {
                    margin-bottom: 20px;

                    label {
                        margin-bottom: 10px;
                        display: none;
                    }

                    input {
                        width: 100%;
                        padding: 12px 15px;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                    }
                }

                .textarea {
                    margin-bottom: 20px;

                    label {
                        margin-bottom: 10px;
                        display: none;
                    }

                    textarea {
                        width: 100%;
                        height: 150px;
                        padding: 10px 15px;
                        resize: none;
                        border: 1px solid #ABABAB;
                        border-radius: 10px;
                        font-size: 17px;
                    }
                }

                .upload {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 20px;

                    label {
                        border: 2px dashed #ABABAB;
                        width: 100%;
                        padding: 30px 20px;
                        cursor: pointer;

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                .check {
                    margin-bottom: 45px;

                    input, label {
                        cursor: pointer;
                    }
                }

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    a {
                        width: 50% ;
                        text-align: center;
                        padding: 8px;
                        border-radius: 5px;

                        &:first-of-type {
                            color: blue;
                            border: 1px solid blue;
                        }

                        &:last-of-type {
                            color: #FFF;
                            background-color: blue;
                        }
                    }
                }
            }
        }
    }
}

.head-app {
    display: none;
}

@media(max-width: 1200px) {
    .page-upload-2 {
        padding: 0;
        
        .content-page-2 {
            width: 70% !important;
        }
    }
}

@media(max-width: 991px) {
    .head-upload-2 {
        height: 230px;
        background-color: #284AC2;
        padding: 20px;

        .title-page {
            display: none;
        }

        .head-app {
            display: block !important;
            width: 100%;
            color: #FFF;

            img {
                display: block;
                margin-right: auto;
            }

            h3 {
                margin-bottom: 0;
                font-size: 25px;
            }

            p {
                margin-top: 5px;
            }
        }
    }

    .page-upload-2 {
        background-color: #FFF;
        overflow: hidden;
        padding: 0;

        .content-page-2 {
            width: 100% !important;
            border: none;
            background-color: transparent;

            .head {
                display: none;
            }

            .form {
                margin-top: 20px;

                form {
                    width: 95%;

                    .input-text {
                        label {
                            display: block !important;
                        }

                        input::placeholder {
                            opacity: 0;
                        }
                    }

                    .textarea {
                        label {
                            display: block !important;
                        }

                        textarea::placeholder {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
/* End Page Upload 2 */